table {
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

th {
	background-color: #e6d7ff;
}

p {
	margin-bottom: 0px;
}